---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kubedns-autoscaler
  namespace: {{ system_namespace }}
  labels:
    k8s-app: kubedns-autoscaler
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  template:
    metadata:
      labels:
        k8s-app: kubedns-autoscaler
    spec:
      tolerations:
        - effect: NoSchedule
          operator: Exists
      containers:
      - name: autoscaler
        image: "{{ kubednsautoscaler_image_repo }}:{{ kubednsautoscaler_image_tag }}"
        resources:
          requests:
            cpu: "20m"
            memory: "10Mi"
        command:
        - /cluster-proportional-autoscaler
        - --namespace={{ system_namespace }}
        - --configmap=kubedns-autoscaler
        # Should keep target in sync with cluster/addons/dns/kubedns-controller.yaml.base
        - --target=Deployment/kube-dns
        - --default-params={"linear":{"nodesPerReplica":{{ kubedns_nodes_per_replica }},"min":{{ kubedns_min_replicas }}}}
        - --logtostderr=true
        - --v=2
{% if rbac_enabled %}
      serviceAccountName: cluster-proportional-autoscaler
{% endif %}
